.create-form label{
    color: whitesmoke !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px !important;
  }
  /* .create-form {
    align-items: center;
    background-color: #333;
    justify-content: center;

  } */
  .main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #212121;
    color: whitesmoke;
    flex-direction: column;
  }